body {
    background-color: black;
}

.column {
    display: flex;
}
.node {
    fill: none;
    stroke: lightgray;
    shape-rendering: crispEdges;
}

.col2 {
    display : flex;
    flex-direction: column;
}

table, th, td {
    border: 1px solid grey;
}
td {
    color: grey;
}

div#widgets {
    height: 450px;
    width: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    border:  solid lightgrey;
}